* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Lora'; */
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bold-text {
    font-weight: 700;
    color: black;
}

.border {
    border: 1px solid;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-bottom: 1px solid blue;
    margin-bottom: 2.5em;

    /* border:2px solid black; */
}

.container {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 900px;

}

.title {
    padding-top: 1em;
    font-size: 0.7rem;
    color: #143774;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    text-transform: uppercase;
    color: #1792D2;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: #707070;
    font-style: Ubuntu;
    font-weight: bold;
    margin-left: 0.85rem;
}


.nav {

    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav a:hover,
.nav a:focus {
    color: #1792D2;
    text-decoration: underline black 2px;
}

.content-container {
    width: 95%;
    margin: 0 auto;
}

.article-featured-image,
.article-image {
    max-width: 100%;
    display: block;
}

.article-image,
.widget-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.article-title,
.widget-recent-post-title,
.widget-title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    color: #143774;
    font-weight: 700;
    font-family: 'Lora', serif;
}

.widget-title {
    color: black;
    text-transform: uppercase;
}

.article-body,
.widget-body {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
    color: #707070;
}

.widget-body {
    color: #143774;
}

.article-info,
a {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    color: #707070;
}

a,
.article-more {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: #1792D2;
}

.article-featured,
.side-widget {

    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.article-featured-image,
.article-info {
    order: -1;
    margin-bottom: 1.5em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.article-recent-secondary {
    order: -1;
}

.article-image,
.widget-image {
    margin-bottom: 0.5em;
}

.side-widget {
    padding: 0 1.5em;
    padding-top: 1.5em;
    border: 17px solid #EBEBEB;
}


.widget-recent-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;

}

.widget-image {
    order: -1;
}

.article-featured {
    border-bottom: 1px solid;
}

.widget-recent-post:not( :last-child) {
    border-bottom: 1px solid black;
}
@media (max-width:600px) {
    .container {

        flex-direction: column;
    }

}

@media (max-width:400px) {
    .container {

        flex-direction: column;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}



@media screen and (min-width:700px) {
    .content-container {
        display: flex;
    }

    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 70%;
        padding-left: 1em;
    }

    .article-recent-secondary {
        width: 30%;
    }

    main {
        margin-right: 1em;
    }

    .side-widget {
        padding: 0 0.5em;
        padding-top: 0.5em;
    }

    .article-info,
    .widget-recent-post-title {
        font-size: 1.1rem;
    }
    .widget-body{
        font-size:1rem;
    }
}

@media screen and (min-width:1000px) {
    .content-container {
        width: 75%;
    }

}